<!-- id:${reply_id} -->
<div class="row-fluid" style="background-color:#eeeeee;margin-bottom:1em;">
  <div class="span2" style="padding:1em;text-align:center;">
    <img src="${avatar}" class="img-polaroid" alt="100x100"><br><br>
    <a>${author}</a><br>
    <small>${datetime}</small>
  </div>
  <div class="span10" style="padding:1em;">
    ${reply}
  </div>
</div>
